.App {
  font-family: sans-serif;
  text-align: center;
}

.board {
  display: inline-block;
  margin: auto;
}

.row {
  display: flex;
}

.tile {
  border: 2px solid #eee;
  font-size: 1.5rem;
  height: 3rem;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  width: 3rem;
}

.tile:focus {
  outline: none;
}

.tile:focus:not(:disabled) {
  border-color: #44f;
}
